<?xml version="1.0" encoding="UTF-8"?>
<beans
	default-autowire="byType" 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="contato" class="beans.Contato" scope="prototype">
		<property name="nome" value="glauco" />
		<property name="telefone" value="8596799900" />
		<property name="email" value="glauco.vsoares@gmail.com" />
	</bean>
	<bean id="agenda" class="beans.Agenda" scope="prototype"/>
</beans>
